body{
	background-color: #eee;
}
.viewport{
	display: flex;
	justify-content: center;
	align-items: center;
}
#flipbook{
	margin-left: 0px !important;
}
@media only screen and (min-width: 1000px) {
	.page-wrapper {
		box-shadow: 0 0 15px #15151524;
	}
}
#flipbook .hard{
	background-color: #fff;
}
#flipbook .pgs{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#flipbook .turn-page{
	background-color:#ccc;
	background-size:100% 100%;
}
.menu-bottom {
    position: relative;
    width: 100%;
    padding: 8px;
    z-index: 999;
}
#prevBtn, #nextBtn{
    position:fixed;
    padding: 8px 15px;
    border-radius: 15px;
	font-size: 16px; 
	background-color:#fff;
}
button#prevBtn {
    bottom: 5px;
    left: 5px;
}

button#nextBtn {
    bottom: 5px;
    right: 5px;
}

input#pageFld {
    background-color:#252525b3;
    width: 100px;
    position:fixed;
    bottom:5px;
    left:50%;
    margin-left: -50px;
    padding: 6px;
    text-align: center;
    font-size: 15px;
    border:none;
    border-radius:15px;
    color: #fff;
}