.viewport img {
    width: 90%;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    box-shadow: 3px 3px 5px #00000021;
}

.viewport {
    background-color: #eee;
    display: block;
    text-align: center;
}